**/.DS_store
**/.Rhistory
**/*.h5
**/*.pyc
*.pdf
.*.*

*.sublime-workspace
*.sublime-project

tests/*.h5
tests/**/run/*
tests/**/PASSED
test/dummy*
!test/*/*/input/config.json
!tests/2_SBG_Signal/A_Sphere_Const3mm/input/flow_data.h5
!tests/2_SBG_Signal/B_Sphere_LogN3mm/input/flow_data.h5
!tests/2_SBG_Signal/C_Ellipsoid_Const3mm_constAR/input/flow_data.h5
!tests/2_SBG_Signal/D_Ellipsoid_Const3mm_Aoyama/input/flow_data.h5
!tests/2_SBG_Signal/E_Ellipsoid_LogN3mm_constAR/input/flow_data.h5
!tests/2_SBG_Signal/F_Ellipsoid_LogN3mm_Aoyama/input/flow_data.h5
!tests/2_SBG_Signal/G_Ellipsoid_LogN3mm_Vakhrushev/input/flow_data.h5
!tests/2_SBG_Signal/H_VoidFraction/input/flow_data.h5
!tests/3_RA/A_Triangular/input/binary_signal.h5
optimization
